.container{
    height: 35vh;
    background: url('https://linear.app/cdn-cgi/imagedelivery/fO02fVwohEs9s9UHFwon6A/d4c9c051-1515-488f-00aa-1553b9322900/f=auto,dpr=2,q=95,fit=scale-down,metadata=none');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.box_container{
    height: 100%;
    background-color: rgba(24, 23, 23, 0.732);
}
.text_label{
    height: 50vh;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    
}
.text_label_title{
    width: 50%;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 20px;
}
.text_label_desc{
    width: 50%;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 20px;
}
.text_label_buttons{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (max-width: 768px){
    .text_label{
        height: 50vh;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        
    }
    .text_label_title{
        width: 80%;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        padding-bottom: 20px;
    }
    .text_label_desc{
        width: 80%;
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        padding-bottom: 20px;
    }
    .text_label_buttons{
        justify-content: center;
    }
}